* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
  }
  img,div,iframe{
    max-width: 100vw;
}
body{
  font-family: 'Vollkorn', serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(176,224,230,0.8);
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
.estrutura{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

.header{
    grid-area: header;
    background-color:rgba(28,28,28,0.98);
    padding:20px;
    display:grid;
    grid-template-columns: 1fr auto;
    align-items:center;
}
.logo{
    margin-left: 2rem;
}
.logo:hover{
    animation:flash;
    animation-duration: 2s;
}

.menu{
    display: flex;
    flex-wrap: wrap;
}
.menu a{
    display: block;
    padding:10px;
    color: white;
    font-size: 1.125em;
    background: rgba(0,0,0,.8);
    border-radius:5px;
    transition: all 0.5s;
}

.menu a:hover{
    background: rgba(176,224,230);
    color: rgba(0,0,0,.8);
    animation: pulse;
    animation-duration: 2s;
}

.menu li + li{
    margin-left: 10px;
}
.main{
    grid-area: main;
    margin: 0 auto;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    background-color:rgba(176,224,230);
    margin: 2rem auto;
}
.img-cards{
    height:224px; 
    width: 336px;
}
.txt-cards{
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    transition: ease-in-out 1s;
}

.txt-cards:hover{
    background-color: rgba(28,28,28,0.98);
    color: #FFFFFF;
}
.div-cards{
    max-width: 336px;
    margin: 0 auto;
}

.div-cards:hover{
    animation: pulse;
    animation-duration: 2s;
}
.section-central{
    transition: all 0.5s;
}
.section-central:hover{
    animation: pulse;
    animation-duration: 2s;
}
.large{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    margin: 0 auto;
    max-width: calc(336px*3 + 4rem);
}
.large img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.legend{
    background-color:rgba(28,28,28,0.98);
    margin: 0 auto;
    margin-bottom: 5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width: calc(336px*3 + 4rem);
}
.legend h2{
    padding: 2rem 0 0 2rem;
    font-size:2.2rem;
    color: #fff;
}
.legend p{
    padding: 2rem;
    font-size:1.2rem;
    color: #fff;
}

.wpp, .email{
    width: 35px;
    height:35px;
    margin-top:1.5rem;
}
.wpp:hover, .email:hover{
    animation:swing;
    animation-duration: 1s;
}
.email{
    margin-left: 1rem;
}
.footer{
    grid-area: footer;
    text-align: center;
    height:5rem;
    background-color:#000000;
    width: 100vw;
}

@media screen and (max-width:1100px){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
        background-color:rgba(176,224,230);
        margin: 2rem auto;
    }
    .large, .legend{
        width: 100vw;
        margin: 0 auto;
        max-width: calc(336px*2 + 2rem);
    }
    .large img{
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .section-central{
        margin-bottom: 5rem;
    }
}

@media screen and (max-width:760px){
    .div-cards, .img-cards{
        max-width: calc(336px - 36px);
    }
    .large, .legend{
        width: 100vw;
        margin: 0 auto;
        max-width: 595px;
    }
    .large img{
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

@media screen and (max-width:650px){
    .div-cards, .img-cards{
        max-width: calc(336px - 72px);
    }
    .large, .legend{
        width: 100vw;
        margin: 0 auto;
        max-width: 550px;
    }
}

@media screen and (max-width:600px){
.logo{
    width: 15%;
    height: 15%;
    margin-top:1rem;
    margin-left: 1rem;
}
nav {
    display: none;
}
.one,
.two,
.three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
}

.menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
}

/* fullscreen */
.menu-section.on {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(28,28,28,0.98);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-section.on nav {
    display: block;
}

.menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
}

.menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
}

.menu-section.on .menu-toggle .two {
    opacity: 0;
}

.menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
}

.menu-section.on nav ul {
    text-align: center;
    display: block;
}
.menu-section.on nav ul li {
    width: 20rem;
}
.menu-section.on nav ul:hover {
    animation: pulse;
    animation-duration: 2s;
}
.menu-section.on nav ul li:first-child{
    margin-left: 0.65rem;
}

.menu-section.on nav ul a{
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    background-color: rgba(176,224,230);
    color: #000000;
    display: block;
    margin-top: 1rem;
    }
    .cards{
        gap: 2rem;
    }
    .div-cards, .img-cards{
        max-width: calc(336px - 144px);
    }
    .img-cards{
        height: 50%;
    }
    .txt-cards{
        height:144px;
    }
    .txt-cards h2{
        font-size : 0.9rem;
    }
    .txt-cards p{
        font-size : 0.8rem;
    }
    .large, .legend{
        width: 100vw;
        margin: 0 auto;
        max-width: 450px;
    }
}

@media screen and (max-width:480px){
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
        background-color:rgba(176,224,230);
        margin: 2rem auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .div-cards{
        height: 60vh;
    }
    .div-cards, .img-cards{
        max-width: 100vw;
    }
    .txt-cards{
        max-width: 336px;
        max-height: 128px;
    }
    .img-cards{
        width: 336px;
        height: 224px;
    }
    .large, .legend{
        width: 100vw;
        margin: 0 auto;
        max-width: 450px;
    }
    .txt-cards h2{
        font-size : 0.9rem;
    }
    .txt-cards p{
        font-size : 0.8rem;
    }
    
}